@model List<Product>

@{
    ViewData["Title"] = "MyProducts";
}

@section Scripts{
    <script> 
        
        function myFunction(ele) {
          var name = ele.dataset.name;
          var id = ele.dataset.id;
          if (confirm("You are about to delete the product: \n" + name + " \n" + "To confirm press OK")) {
            $.post("@Url.Action("DeleteProduct")", { id: id },function(){
                window.location.reload();
            }) ;
          }
        }

    </script>
}


<div style = "display:flex; align-items:center" >
    <h1>My Products</h1>
    @Html.ActionLink("Add Product","AddProduct","Product",null, new {@class="btn btn-primary", style="margin-left: auto;"})
</div>

<br/>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 20px;">


    @foreach(Product product in Model)
    {
        @*<div class="card-group" style="width: 20%; height:350px; margin: 2%">*@
            <div class="card" style="">
                <img class="card-img-top" src="/Images/Product/@product.Image" alt="Card image cap" style="width:auto;height:auto; max-width:100%; max-height:325px; display: block; margin: auto;">
                <div class="card-body">
                    @Html.ActionLink(@product.Title,"ProductDetails","Product",new {id = product.Id})
                    @*<h5 class="card-title">@product.Title</h5>*@
                    <p class="card-text" style="color:green">$@product.Price</p>
                    @Html.ActionLink("Edit", "EditProduct", "Product",new {id = product.Id},new {@class="btn btn-outline-primary", style="margin:2px"})
                    <button data-name = "@product.Title" data-id = @product.Id onclick="myFunction(this)" type="button" id="btnDeId" class="btn btn-outline-danger" style="margin:2px">Delete</button>
                </div>
            </div>
        @*</div>*@
    }

</div>

@*<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach(Product product in Model){
        <tr>
          <td style = "width: 15%;">@product.Title</td>
          <td>@product.Brand</td>
          <td style="color:#ff0000">$@product.Price</td>
          
          <td>@product.Quantity</td>
          <td>@product.Category.Name</td>
          <td style = "width: 11%">@Html.ActionLink("Details", "Detail", "Instructor",new {Id = instructor.Id},new {@class="btn btn-outline-success"})</td>
          <td style = "width: 11%">@Html.ActionLink("Edit", "EditProduct", "Product",new {id = product.Id},new {@class="btn btn-outline-primary"})</td>
          <td style = "width: 11%">@Html.ActionLink("Delete", "Delete", "Instructor",new {Id = instructor.Id},new {@class="btn btn-outline-danger"})</td>
          <td style = "width: 11%"> <button data-name = "@product.Title" data-id = @product.Id onclick="myFunction(this)" type="button" id="btnDeId" class="btn btn-outline-danger">Delete</button> </td>
        </tr>
    }
    
  </tbody>
</table>*@

@*@for(int i = 0; i < Model.Count; i++)
{
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[i].Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[i].Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[i].Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[i].Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[i].Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[i].Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[i].Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[i].Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[i].Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[i].Category.Name)
        </dd>
    </dl>
</div>   
<hr/>
}*@

@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
